h1,
h2,
h3 {
  text-align: center;
}

body {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(
    90deg,
    #aa2323,
    #aa6b23,
    #aa2323,
    #aa2335,
    #aa2323
  );
  background-size: 500%;
  animation: bg-animation 30s infinite;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  display: grid;
  grid-auto-flow: row;
  row-gap: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }

  50% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}

.Middle {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  border-radius: 3mm;
  background-color: rgba(0, 0, 0, 0.1);
}

.autosizemiddle {
  text-align: center;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 3mm;
  margin-top: 2mm;
  width: fit-content;
  margin: 0.5rem auto;
  background-color: rgba(0, 0, 0, 0.1);
}

.topsticky {
  position: sticky;
  top: 0;
}
.bottomsticky {
  position: sticky;
  bottom: 0;
}

a {
  text-decoration: none;
  color: rgb(122, 195, 255);
}

a:hover {
  text-decoration: none;
  color: rgb(157, 212, 255);
}

hr {
  color: rgb(0, 0, 0);
}

input[type="text"],
input[type="password"] {
  width: 15em;
  color: white;
  /* !important to override the browser autofill */
  background-color: rgba(0, 0, 0, 0.15) !important;
  border-radius: 5px;
  margin: 2%;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

input[type="submit"] {
  color: white;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin: 2%;
  border: 2px solid rgba(255, 255, 255, 0.7);
}

/* Remove the browser autofill background that was driving me insane */
@keyframes autofill {
  0%,
  100% {
    background: transparent;
  }
}

input:-webkit-autofill {
  -webkit-animation-delay: 1s;
  /* Safari support - any positive time runs instantly */
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}
